doctype html
html(lang='en')
    include ./head.pug 
    body(id="page-top")
        include ./nav.pug 
        include ./masthead.pug 
        include ./portfolio.pug 
        include ./about.pug 
        include ./contact.pug 
        include ./footer.pug 
        include ./extra.pug 
        include ./portfolio_modals.pug 
        include ./scripts.pug         